{% extends 'base.html' %}

{% block title %}SIGAB{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light position-relative" data-bs-theme="light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">SIGAB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#">perfil
            <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">turmas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">boletim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">professores</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">serviços</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">fazer matrícula</a>
                <a class="dropdown-item" href="#">criar email</a>
            </div>
        </li>
        </ul>
        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="buscar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">buscar</button>
        </form>
    </div>
    </div>
</nav>
{% endblock %}